@import 'base';

// Vendor styles
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
@import '~_npm/vuetify/dist/vuetify.min.css';

@import 'vars';

html {
    padding-right: 0 !important;
}

#app {
    font-family: $font-montserrat-normal;

    width: 100%;
}

p {
    margin-bottom: initial;
}
