@import 'base';

// Vendor styles
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
// @import '~_npm/vuetify/dist/vuetify.min.css';
// @import "~_npm/font-awesome/css/font-awesome.css";

@import 'vars';
// @import '~_sass_config/vars';
// @import '~_sass_config/mixins';
// @import '~_sass_comp/input';
// @import '~_sass_comp/button';

html {
    padding-right: 0 !important;
}

#app {
    font-family: $font-default;

    width: 100%;
}

p {
    margin-bottom: initial;
}
